body{
    font-family: sans-serif;
    color: rgb(112, 194, 226);

}
a{
    color: green
}
a:hover{
    color: red
}
a:visited{
    color:rgb(196, 72, 140)
}
a:active{
    color: orange
}
ul li{
    list-style-type: circle;
}
ol li{
    list-style-type: upper-roman;
    list-style-position: inside;
}